.main-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;          
  padding: var(--padding-header);
  background-color: var(--color-fondo-secundario); 
  border-bottom: 1px solid var(--color-borde-sutil);
}
.logo a {
  font-family: var(--fuente-principal);
  font-size: 2rem;  
  font-weight: 700;   
  color: var(--color-acento);
  text-decoration: none;
}
.main-nav ul {
  display: flex;
  list-style-type: none; 
  gap: 1.5rem;           
}
.main-nav a {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 5px;     
  text-decoration: none;
  border-bottom: 2px solid transparent; 
  transition: all 0.3s ease;
}
.active-link {
  color: var(--color-acento);
  border-bottom-color: var(--color-acento);
}
.main-nav a:not(.active-link):hover {
  color: var(--color-acento); /* Usando variable de color */
}