.sobre-mi-container {
  display: flex;
  align-items: center; 
  gap: 3rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 1rem;
}
.text-column {
  flex: 2; 
  min-width: 300px;
}
.image-column {
  flex: 2;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nombre {
  font-family: var(--fuente-principal);
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-acento);
  margin-bottom: 0.5rem;
  line-height: 1.2;
}
.titulo-seccion {
  font-family: var(--fuente-principal);
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-texto-secundario);
  margin-bottom: 1.5rem;
  line-height: 1.4;
}
.subtitulo {
  font-family: var(--fuente-principal);
  font-size: 1.1rem;
  color: var(--color-texto-secundario);
  margin-bottom: 1rem;
  line-height: 1.6;
  font-weight: 700;
}
.parrafo-bio {
  font-family: var(--fuente-principal);
  font-size: 1rem;
  line-height: 1.7;
  color: var(--color-texto-principal);
  margin-bottom: 1.5rem;
}
.mis-botones {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}
.btn {
  font-family: var(--font-principal);
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-texto-principal);
  

  text-decoration: none;
  padding: 0.8rem 1.75rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.btn-primary {
  background-color: var(--color-acento);
  color: var(--color-fondo-principal);
  border: 2px solid var(--color-acento); 
}
.btn-secondary {
  background-color: transparent;
  border: 2px solid var(--color-texto-principal); 
}
.btn-primary:hover {
  background-color: #ca5405; 
  border-color: var(--color-acento);
  transform: translateY(-2px);
}
.btn-secondary:hover {
  background-color: var(--color-borde-sutil); 
  color: #ffffff; 
  transform: translateY(-2px);
}
.foto-perfil {
  width: 300px;
  height: 300px;
  object-fit: cover; 
  border-radius: 50%; 
  border: 4px solid var(--color-acento);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}
.cargando {
  text-align: center;
  padding: 4rem;
  font-size: 1.5rem;
  color: var(--color-acento);
}